.r-1kqtdi0>.r-18u37iz {
	display: none;
}

.r-6koalj:nth-child(5) {
	display: none;
}

.css-175oi2r:nth-child(9) {
	display: none;
}

.r-uaa2di {
	display: none;
}

.r-1h3ijdo:nth-child(2) {
	display: none;
}